* {
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --darkPurple: rgb(53, 28, 117);
    --lightPurple: rgb(189, 96, 231);
}

body {
    color: black;
    line-height: 1.7;
}

header {
    padding: 10px 25px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 1;
}

header a {
    text-decoration: none;
    color: var(--lightPurple);
}

header p {
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

main section {
    padding: 15px 120px; 
}

main section h1 {
    font-size: 30px;
    font-weight: bolder;
}

main section p {
    font-size: 17px;
}

main section button {
    background-color: var(--darkPurple);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 18px;
    margin-top: 5px;
}

main section button:hover {
    background-color: var(--lightPurple);
}

main section button:active {
    color: black;
}

main section form {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0 0;
    align-items: center;
}

main section form input {
    padding: 0 15px;
    font-size: 20px;
    margin-right: 10px;
    width: 35%;
    height: 45px;
    border: solid rgb(187, 186, 186);
}

.intro {
    display: block;
}

.quiz {
    display: none;
    padding:0 5px 0 75px;
    width: 75%;
    text-align: start;
}

.question{
    font-size: 25px;
    margin-bottom: 15px;
    width: 100%;
    padding: 0;
}

.btn {
    width: 25%;
    height: auto;
    display: flex;
    align-items: center;
    padding: 10px 12px;
    margin-bottom: 7.5px;
    font-size: 20px;
}

.num {
    padding: 0;
}

.answer {
    width: 100%;
    padding: 0 0 0 10px;
}

.prompt {
    width: 100%;
    text-align: start;
}

.good {
    display: none;
}

.bad {
    display: none;
}

.good, .bad {
    border-top: solid rgb(187, 186, 186);
    padding: 5px 0 0 25px;
    color: rgb(187, 186, 186);
    font-size: 25px;
}

.results {
    display: none;
    text-align: start;
    padding: 0;
    width: 65%;
    line-height: 1.7;
}

.done {
    font-size: 40px;
    padding-bottom: 0;
}

.score, .initials {
    font-size: 24px;
}

.submit {
    font-size: 20px;
}

